:root{
    --bgcolor: #d4f1f9;
}

body{
    /*background-color: rgba(255,102,0,0.5);*/
    background-image: url(https://lh5.googleusercontent.com/proxy/xvtq6_782kBajCBr0GISHpujOb51XLKUeEOJ2lLPKh12-xNBTCtsoHT14NQcaH9l4JhatcXEMBkqgUeCWhb3XhdLnD1BiNzQ_LVydwg=w3840-h2160-p-k-no-nd-mv);
    background-size: 100%;
    background-clip: padding-box;
    background-repeat: no-repeat;
}

.mainimage{
    height:100px;
    width:280px;
    /*background-color: #d4f1f9;*/
}


.navigation{
    font-size: x-large;
    padding-left: 10px;
    text-align: right;
    margin-top: 0px;
    padding-right: 100px;
    height: 70px;
    padding-top: 30px;

}

.navigation a{
    margin-right: 5em;
}

.group::before,
.group::after
{
    content:"";
    display:table;
}
.group::after{
    clear: both;

}
.group::after{
    clear: both;
    *zoom:1;
}
.group{
    background-color:var(--bgcolor)
}


img{
    float: left;
    margin-left: 0px;
    padding-left: 50px;
    padding-right: 50px;
    width: 80%;
}

nav{
    float: right;
    margin: 0 1%;
    width: 70%;
}
.group1::before,
.group1::after
{
    content:"";
    display:table;
}
.group1::after{
    clear: both;

}
.group1::after{
    clear: both;
    *zoom:1;
}


aside{
    float:left;
    height:800px;
    margin-left: 20px;
    width:20%;
}

.group1{
    float:right;
    width: 83.8%;
}


.side1{
    height:840px;
    width:15%;
    background-color: var(--bgcolor);

}
.sec1{
    background-color: var(--bgcolor); 
    float: left;
    width: 78.6%;
}
.sec2{
    height:840px;
    background-color: var(--bgcolor);
    float: right;
    width: 20%;
    margin-right: 20px;
}


.welcome{
    text-align: center;
    width: 100%;
    background-color: var(--bgcolor);
    margin-top: 1px;
    padding:5px 0 5px 0;
    font-style: oblique;
    font-variant: small-caps;
    height: 40px;
    line-height: 40px;
}
a:hover{
    background-color: blueviolet;
    color:blue;
}

a{
    color:black;
    text-decoration: none;
}


.ulist1{
    margin-top: 0px;
    color: blue;
    list-style-type: none;
}


ul li{
    background: url("arrow.jpeg") 10px 3px no-repeat;
    background-size: 2%;
    padding-left: 45px;
    padding-top: 0px;
}

h2{
    font-size: xx-large;
    line-height: 1.5em;
    color: black;
    padding: 5px 0px 2px 0px;
    text-align: center;
    text-decoration: wavy;
}

.div1{
    border: 1px solid black;
}
.div2{
    padding-top: 0px;
    background-color: rgb(219, 241, 234);
    border: 1px solid black;
}

.form{
    
    padding-left: 10px;
    font-size: large;
    padding-right: 10px;
   
}
.form input,select{
    line-height: 1.5 em;
    /*padding-bottom: 20px;*/
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;

}
.form label{
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    color: blue;
}
.btn{
    background-color: green;
    margin-top: 10px;
}

.ctable{
    margin-left: 20px;
    margin-top: 50px;
    
    font-size: 30px;
    line-height: 1.5em;
    border-collapse: collapse;
}
th,td{
    border:1px solid black;
    padding-left: 10px;
    padding-right: 10px;
   
    margin-right: 20px;
    vertical-align: middle;
}
p{
    font-size: 20px;
    line-height: 1.5em;
    margin-left: 20px;
    font-style: unset;
    font-weight: 700;
}
.b1{
    float:left;
    background-color: rgb(29, 243, 29);
    margin: 0 0 20px 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    cursor: pointer;
}
.b2{
    float: right;
    margin: 0 20px 20px 0;
    background-color: rgb(29, 243, 29);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    cursor: pointer;

}
.group4::before,
.group4::after
{
    content:"";
    display:table;
}
.group4::after{
    clear: both;

}
.group4::after{
    clear: both;
    *zoom:1;
}
.group5::before,
.group5::after
{
    content:"";
    display:table;
}
.group5::after{
    clear: both;

}
.group5::after{
    clear: both;
    *zoom:1;
}

.d5{
   
    text-align: left;
    padding-left: 20px;
}
.yt{
    height: 10px;
    width: 10px;
    display: inline;
    text-align: center;
}

